In [14]:
a=int(input("num1:"))# taking input 1
b=int(input("num2:"))#taking input 2
if a>b:#condition: comparing a,b checking 1st option "is a greater than b"
    print("num1 is greater")
elif a<b:#condition comparing a,b checking 2nd option "is b is greater than a"
    print("num2 is greater")
else:#last option available checking " if both are equal"
    print("both are same")

num1:8
num2:9
num2 is greater

In [1]:
a= int(input("enter quantity"))#input
if a<1000:#condition checking whether a is less or greater than 1000
    print("prize is", a*100)# printing commodity quantity multiplied by each commodity price
else:# given condition if a>1000 discount applies,
    print("prize is", a*100*0.9) #a>1000 discount 10%= 10/100=1/10=10-0.1=0.9

enter quantity56
prize is 5600

In [2]:
a=int(input("enter marks:"))
if a>80:
    print("Grade A")
elif 60>a<80:
    print("Grade B")
elif 50>a<60:
    print("Grade C")
elif 50>a<45:
    print("Grade D")
elif 45>a<25:
    print("Grade E")
else:
    print("Grade F")

enter marks:88
Grade A

In [3]:
a=int(input("enter age of 1:"))
b=int(input("enter age of 2:"))
c=int(input("enter age of 3:"))
if a>b:
    if a>c:
        print("a is oldest")
    else:
        print("c is youngest")
if b>a:
    if b>c:
        print("b is oldest")
    else:
        print("c is oldest")

enter age of 1:56
enter age of 2:45
enter age of 3:55
a is oldest

In [6]:
a=int(input("enter age of 1:"))
b=int(input("enter age of 2:"))
c= int(input("enter age of 3:"))
if a>b and a>c:
    print("a is oldest")
elif b>c and b>a:  
    print("b is oldest")
elif c>a and c>b:
    print("c is oldest")
else:
    print("all are equal")

enter age of 1:55
enter age of 2:55
enter age of 3:55
all are equal

In [3]:
a=int(input("enter the number:"))
if a<0:
    print("-1")
else:
    print(a)

enter the number:-1
-1

In [1]:
a=int(input("enter classes held:"))
b=int(input("enter classes attended:"))
p= (b/a)*100
print(p)
if p>=75:
    print("student is allowed to sit")
else:
    print("student is not allowed in classroom")

enter classes held:100
enter classes attended:75
75.0
student is allowed to sit

In [2]:
i=0 #initiationg a loop
while i<=10:#giving condition that until i is less or equal to 10
    print(i) #printing i until it becomes 10
    i=i+1 #setting terminator for the loop

0
1
2
3
4
5
6
7
8
9
10

In [5]:
for i in range (1,6,1): # count no.of rows in pattern, give start and stop value along with step value
    for j in range(1,i+1):#as one is common in all rows we will print 1 and i+1, for example if is 2 then it will print 1,
        print (j,end=" ")
    print ("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [6]:
n=int(input("enter a number:")) #input 
print(sum(range(1,n+1)))#sum of range of n+1 will do addition of range of numbers till n+1. "n+1 is a terminatory condition"

enter a number:15
120

In [13]:
count=0 #store value of all sum of numbers
n=int(input("enter a number:")) #input
for i in range(1,n+1,1):# writting a range function,start addition with 1 and end n+1 with one step value
    count+=i# add current number to count variable
print ("sum is",count)#print sum is our count variable which stores all values

enter a number:12
sum is 78

In [15]:
n=int(input("enter value of n:"))#input
i=0 #loop initiation
for i in range(1,10):#condition and printing till 10
    print(n*i)#printing number*i,if number is 5 then 5*1=5,5*2=10 will come

enter value of n:5
5
10
15
20
25
30
35
40
45

In [4]:
n=[12,75,150,180,145,525,50]
for item in n:#starting a loop
    if item>500:#if items in list>500
        break #don't print value after 500
    elif item>150: #if items in list>150
        continue #don't print items that are greater than 150
    elif item %5==0:#divisibility check with 5
          print(item)

75
150
145

In [6]:
num=75689 #input
count=0 #storing output
while num!=0:#condition: till the number is not equal to 0
    num=num//10 #divide the number by 10 i.e floor division "to reduce last digit from number"
    count=count+1 #loop termination
    print("total digits are",count) #printing statement

total digits are 1
total digits are 2
total digits are 3
total digits are 4
total digits are 5

In [20]:
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(j,end=" ")
    print(" ")

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [5]:
list1=[10,20,30,40,50] #input
new_list= reversed(list1) #create a new list which is reversed
for item in new_list:# for loop tp call every item for each iteration
    print(item) #printing item for each iteration.

50
40
30
20
10

In [10]:
for i in range(-10,0,1): #for loop to start numbers from -10 and stop till-1, we give next value to it,so 0
    print(i,end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [9]:
for i in range(5): #for loop tp print 4 numbers,withstopping value of 5
    print(i,end=" ")
else: #else condition they have asked to print done
    print("done")

0 1 2 3 4 done

In [8]:
start = 25
end = 50
print("prime numbers between:", start, "and", end, "are")
for num in range(start,end+1):
    if num>1: #all prime numbers should be greater than 1,bcuz no prime number is less than1
        for i in range(2,num): #check for factors
            if(num % i)== 0: #if division gives 0 remainder it's not prime
                break  #break and look for next number
        else: #if division does'nt give 0, then it's a prime
            print(num,end=" ")

prime numbers between: 25 and 50 are
29 31 37 41 43 47

In [11]:
num1 = 0 #starting number
num2 = 1 #ending number
print("fibonacci series:") #print statement
for i in range(10): #in range of 10 numbers
    print(num1, end=" ") #print number 1 i.e "0" first
    res=num1+num2 #now add num1 and num 2, i.e add 0+1=1
    num1=num2 #now num1 becomes num2 for next iteration i.e for next iteration num1 is 1.
    num2=res #and number 2 becomes the resultant from our addition

fibonacci series:
0 1 1 2 3 5 8 13 21 34

In [4]:
i=0
print i in range (10):
    i=i+1

SyntaxError: invalid syntax (Temp/ipykernel_13404/1257691090.py, line 2)

In [1]:
#Accept numbers from a user
a=int(input("enter a value:"))

enter a value:100

In [7]:
 #Accept any three string from one input() call
a=input("enter value of str1",sep=" \n" ,"enter value of str2",sep="\n", "enter value of str3")
print("Name1",enter value of str1)
print("Name2",enter value of str2)
print("Name3",enter value of str3)

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_10124/764613329.py, line 2)

In [3]:
#Display three string “Name”, “Is”, “James” as “Name**Is**James”
print("Name**Is**James")

Name**Is**James

In [3]:
# Convert Decimal number to octal using print() output formatting
num=8
print('%o' % num)

10

In [13]:
 #Display float number with 2 decimal places using print()
#Given:
num = 458.541315
print("%.2f" %(num))

458.54

In [2]:
#Accept a list of 5 float numbers as an input from the user
a=input("enter a list:")

enter a list:[78.6, 78.6, 85.3, 1.2, 3.5]

In [1]:
#create a function in python
def fun(x,y):#function defnition
    print(x,y) #ouptup statement
fun(3,4) #calling function

3 4

In [8]:
#Create a function with variable length of arguments
def fun(x,*r): #function defnition with variable length arguments
    print(x,*r)#printing variables
fun(2,(3,4,5,6)) #calling function,assining values to the arguments

2 (3, 4, 5, 6)

In [10]:
#Create a function with variable length of arguments
def fun(*r):#function defnition
    for i in r:#iterating *r to get every value from *r for each iteration
        print(i) #printing the value of i that it is carrying in each iteration
fun(20,30,4,5,6) #calling function

20
30
4
5
6

In [15]:
#Return multiple values from a function
def fun(x,y): #function defnition
    add=x+y #give any operation sign between those variables, to create a multpile answers from that expressions using same variables
    sub=x-y
    multi=x*y
    print(add,sub,multi)#printing addition, subtraction, multiplication between same two variables
fun(8,76)#calling function

84 -68 608

In [16]:
#Create a function with default argument
def fun(x,y=20): #function defnition with a default argument
    print(x,y) #printing the arguments using default argument in function defnition
fun(60)#calling function has only xvalue as the y value has alredy given defaultly in function defnition

60 20

In [7]:
#Create an inner function to calculate the addition in the following way
#Create an outer function that will accept two parameters, a and b
#Create an inner function inside an outer function that will calculate the addition of a and b
#At last, an outer function will add 5 into addition and return it
def fun(x,y):#function defnition of outer function
    def fun1(x,y):
        return x+y
    res=fun1(x,y)
    return res+5
c=fun(3,6)
print(c)

14

In [24]:
#Assign a different name to function and call it through the new name
def fun(x,z):#function defnition
    print(x,z) #printing arguments
fun1 = fun #renaming function
fun1(23,46) #calling function using new name

23 46

In [28]:
#Generate a Python list of all the even numbers between 4 to 30
for i in range (4,30,2)#creating loop giving range of numbers
    print(i,end=" ")#printing i

4 6 8 10 12 14 16 18 20 22 24 26 28

In [29]:
#Generate a Python list of all the even numbers between 4 to 30
def fun(x,y):#function defnition
    for i in range(x,y):#creating a loop for arguments x,y
        if i%2==0: #giving condition to print even numbers
            print(i,end=" ") #printing i value that it is carrying for each iteration
        else:
            pass #if condition is false just pass the value
fun(4,30)#calling function

4 6 8 10 12 14 16 18 20 22 24 26 28

In [30]:
#Find the largest item from a given list
x = [4, 6, 8, 24, 12, 2]
print(max(x))

24

In [4]:
#Write a Python function to find the Max of three numbers.
def fun(x):
    print(max(x))
fun([1,2,3])

3

In [1]:
#Write a Python function to sum all the numbers in a list. 
#Sample List : (8, 2, 3, 0, 7)
#Expected Output : 20
def fun(x):#fun def.
    print(sum(x)) #printing sum of list by using sum command
fun([8,2,3,0,7]) #function call

20

In [16]:
#Write a Python function to multiply all the numbers in a list. 
#Sample List : (8, 2, 3, -1, 7)
#Expected Output : -336
def fun(x): #unction def
    res=math.prod(x) #storing result in "res" by importing math product function we can do product of list
    print(res) #printing "res"
fun([8, 2, 3, -1, 7]) #function call

-336

In [6]:
#Write a Python program to reverse a string. Go to the editor
#Sample String : "1234abcd"
#Expected Output : "dcba4321"
def fun(x):
    stringlength=len(x) # calculate length of the list
    slicedString=x[stringlength::-1] # slicing 
    print (slicedString) # print the reversed string
fun("1234abcd")

dcba4321

In [16]:
for i in range(5):
    for j in range(5):
        print("*",end=" ")
    print(" ")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [15]:
for i in range(5):
    for j in range(i+1):
        print("*",end=" ")
    print(" ")

*
* *
* * *
* * * *
* * * * *

In [14]:
for i in range(6,0,-1):
    for j in range(i-1):
        print("*",end=" ")
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [19]:
for i in range(5):
    for j in range(i,5):
        print(" ",end=' ')
    for j in range(i+1):
        print("*",end=' ')
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [21]:
for i in range(5):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,5):
        print("*",end=" ")
    print()

  * * * * *
    * * * *
      * * *
        * *
          *